* {
  box-sizing: border-box;
  margin: 0;
}

body, html  {
  margin: 0;
  height: 100%;
  width: 100%;
  height: auto;
  background-image: url(../images/winebottles.png);
}

.container  {
  width: 100%;
}

#main {
  float:left;
  max-width: 650px;
}

nav.navbar.navbar-default {
  min-height: 150px;
}
nav.navbar.navbar-default {
  background-color: rgba(0, 0, 0, 0.75);
}

.navbar {
  min-height: 0;
  margin-bottom: 1px; 
}

#title {
  height: 75px;
  margin-top: 25px;
 /* display: block;*/
  margin-left: 40px;

}
#title2 {
    height: 70px;
    display: block;
  margin-left: auto;
  margin-right: auto;
}

.nav.navbar-nav {
  text-align:center;
  float: right;
  margin-top: -40px;
  margin-right: 50px;
 }

a.nav-item.nav-link {
  color: #660022;
  padding-left: 15px;
  padding-right: 15px;
  text-decoration: none;
/*  margin-left: 15%;
*/}
nav.navbar.navbar-default {
background-color: rgba(255,255,255, 0.75);
min-height: 100px;
}

a.nav-item.nav-link:hover {
  color: #4d9900;
}

.col-xs-2 {
  float: right;
  margin-right: 100px;

} 

.col-xs-4 {
  margin-top: 15px;
}

.col-xs-2>a>img {
  position: relative;
  margin-bottom: 20px;
  margin-right: 15px;
  margin-top: 20px;
  padding-bottom: 30px;
  width: 220px;
}

h1, h1 {
   color: #660022;
  text-align: center;
  width: 720px;
  position: absolute;
/*  background-color: rgba(255,255,255, 0.55);
*/  -webkit-text-stroke: 1px #660022;
  font-size: 30px;
  font-family: 'Calibri','IM Fell DW Pica SC', serif;
  font-weight: 300;
}

h2 {
  font-family: 'Calibri', Times, Times New Roman, serif;
  font-size: 18px;
  text-align: left;
  color: #660022;
}

h3 {
  color: #660022;
  text-align: center;
  position: absolute;
  background-color: rgba(255,255,255, 0.55);
  -webkit-text-stroke: 1px #660022;
  font-size: 28px;
  font-family: 'Calibri', 'IM Fell DW Pica SC', serif;
  font-weight: 300;
}

h4 {
  margin-top: -100px;
  margin-bottom: 35px;
  background-color: #2b3e50;
  padding: 10px 10px;
  width: 220px;
  text-align: center;
  color: #777777;
  position: relative;
}

.drop-content>h3 {
 margin-left: 10px;
}

#region {
    margin-left: 290px;
    margin-top: 100px;
    width: 250px;
}

#strange {
  margin-left: 290px;
  width: 250px;
  margin-top: 90px;
}

#types {
  margin-left: 90px;
  margin-top: 100px;
  width: 170px;
  text-align: center;
}

#events{
  margin-left: 170px;
  height:125px;
  width: 250px;
  margin-top: 65px;
}

#giftI {
  margin-left: 170px;
  width: 250px;
  margin-top: 70px;
}

#main-list>li {
  position: relative;
  float: left;
}

ul.main>li {
  margin-bottom: 15px;
}

li.menu-right {
  height: 40px;
  margin-left: 135px;
}
li.menu-left {
  height: 40px;
  margin-left: 245px;
}

#rightMenu,
#leftMenu {
  margin-top: 100px;
  margin-left: 200px;
}
#menuPairings {
  margin-top: 100px;
}

button.dropdown-toggle {
  float: left;
  width: 300px;
  margin-left: 10px;
  margin-right: 75px;
  padding: 5px;
  color: #660022;
  background-color: #d8d8d8;
}

.dropdown-menu {
  width: 300px;
  margin-left: 10px;
  padding: 0;
  background-color: #d8d8d8;
}

.dropdown-menu>li>a:hover {
  width: 300px;
  background-color: #660022;
}

li>a {
   color: #a54aaa;
   width: 260px;
}

#vineyards {
  margin-left: 205px;
  width: 170px;
  margin-top: 85px;
}

input#location-input {
  width: 220px;
  height: 35px;
  font-size: 12px;
  font-family: Helvetica;
  text-align: center;
}

button#addLocation {
  margin-top: 10px;
  margin-bottom: 5px;
  height: 40px;
  width: 120px;
  font-size: 16px;
  font-family: Helvetica;
  background-color: linen;
}

ul.sidebar>li {
  padding: 15px;
}

.img-group {
  margin-left: 170px;
  border-radius: 6px;
  margin-bottom: 20px;
  margin-top: 20px;
  width: 250px;
  height: 185px;
}
.img-group-l {
  margin-left: 290px;
  border-radius: 6px;
  margin-bottom: 20px;
  margin-top: 20px;
  width: 250px;
  height: 185px;
}

#giftsI {
  margin-top: 90px;
  margin-left: 220px;
}

#dayWine>img,
#personal>a>img {
  border-radius: 6px;
}

li>#dayWine>img>h3 {
  font-size: 14px;
  background-color: none;

}

#wineDay {
  margin-top: 72px;
  width: 150px;
}
#person {
   margin-top: 30px;
  width: 145px;
}

#randomQ {
  margin-top: 50px;
  width: 150px;
}

#front-quote.front>a>img {
  vertical-align: middle;
}

#quote-back {
  height: 100%;
  min-height: 150px;
  width: 225px;
  line-height: 20px;
  padding-top: 10px;
  background-color: #d8d8d8;
  text-align: center;
  padding: 10px;
  border-radius: 6px;
  vertical-align: middle;
}

li>p {
  margin: 20px 0px 5px 5px;
}

li>a>img {
  margin-bottom: 10px;
}

p {
  margin: 15px 10px 25px 10px;
}

.img-responsive {
  margin-left: 10px;
}

.placeholder {
  font-size: 14px;
  color: #000000;
}

 .form-control  {
  border: 1px solid #777777
 }

 .card-container {
  cursor: pointer;
  height: 150px;
  position: relative;
  width: 150px;
}

.card {
  height: 100%;
  position: absolute;
  backface-visibility: hidden;
  transform-style: preserve-3d;
  transition: all 1s ease-in-out;
  width: 100%;
}
.card:hover {
  transform: rotateY(180deg);
}

.card .front {
  backface-visibility: hidden;
  border-radius: 6px;
  height: 100%;
  position: absolute;
  overflow: hidden;
  width: 100%;
}

.card .back {
  backface-visibility: hidden;
  border-radius: 6px;
  background: #eaeaed;
  color: #000000;
  line-height: 100px;
  min-height: 150px;
  text-align: center;
  vertical-align: middle;

  transform: rotateY(180deg);
}

.back>a>img {
  border-radius: 6px;
}

.drop-target.drop-content {
    display: none;
}

.example-inner {
    margin: 10em;
    border: 0.4em solid black;
    padding: 0.4em 0.6em;
    text-align: center;
    display: block;
    width: 5em;
}

div.drop-content {
  border-radius: 6px;
  font-size: 14px;
  text-align: center;
  background-color: #d8d8d8;
  min-height: 100px;
  width: 250px;
/*  margin: 10px;
*/  z-index: 2;
}

#humboldt,
#mendocino,
#sonoma,
#napa,
#sacramento,
#sanFrancisco,
#lodi,
#livermore,
#modesto,
#santaCruz,
#monterey,
#sierra,
#madera,
#fresno,
#sanLuis,
#santaBarbara,
#venturaCounty,
#malibu,
#losAngeles,
#orangeCounty,
#palmSprings,
#sanDiego {
  position: absolute;
}

#humboldt {
  margin-left: 20px;
  margin-top: 75px;
}
#mendocino {
  margin-left: 40px;
  margin-top: 160px;
}
#sonoma {
  margin-left: 60px;
  margin-top: 220px;
}
#napa {
  margin-left: 100px;
  margin-top: 230px;
}
#sacramento {
  margin-left: 155px;
  margin-top: 230px;
}
#sanFrancisco {
  margin-left: 80px;
  margin-top: 300px;
}
#lodi {
  margin-left: 170px;
  margin-top: 270px;
}
#livermore {
  margin-left: 140px;
  margin-top: 300px;
}
#modesto {
  margin-left: 190px;
  margin-top: 290px;
}
#santaCruz {
  margin-left: 110px;
  margin-top: 360px;
}
#monterey {
  margin-left: 140px;
  margin-top: 395px;
}
#sierra {
  margin-left: 180px;
  margin-top: 170px;
}
#madera {
  margin-left: 265px;
  margin-top: 325px;
}
#fresno {
  margin-left: 265px;
  margin-top: 360px;
}
#sanLuis {
  margin-left: 195px;
  margin-top: 455px;
}
#santaBarbara {
  margin-left: 205px;
  margin-top: 525px;
}
#venturaCounty {
  margin-left: 275px;
  margin-top: 525px;
}
#malibu {
  margin-left: 305px;
  margin-top: 580px;
}
#losAngeles {
  margin-left: 330px;
  margin-top: 535px;
}
#orangeCounty {
  margin-left: 370px;
  margin-top: 585px;
}
#palmSprings {
  margin-left: 450px;
  margin-top: 575px;
}
#sanDiego {
  margin-left: 430px;
  margin-top: 630px;
}

#map { 
  height: 675px; 
  margin-left: 25%;
  margin-top: 10px;
  margin-bottom: 20px;
}

#mapContainer {
  width: 100%;
  height: 100%;
  padding-top: 1px;
}

#suggestions {
  width: 720px;
  padding-left:10px;
  margin-bottom: 15px;
  margin-left: 130px;
}

#facts-background {
  margin: 0px 250px;
}

#wineTypes>li {
  margin-top: 30px;
}

ul#wineTypes {
  margin-left: 220px;
  margin-right: 220px;
}

#wineTypes>li>p {
  margin-top: 10px;
}

#wineTypes>li>p>strong {
  margin-top: 10px;
  color: #660022;
}

#wineTypes>h5 {
  padding-bottom: 5px;
  color: #660022;
  text-align: center;
/*  background-color: rgba(255,255,255, 0.55);
*/  -webkit-text-stroke: 1px #660022;
  font-size: 26px;
  font-family: 'Calibri', 'IM Fell DW Pica SC', serif;
  font-weight: 300;
}

#eventResults>h3,
#pairings>h3 {
 color: #660022;
 width: 715px;
 margin-left: 10px;
 padding: 5px;
  text-align: center;
  background-color: rgba(255,255,255, 0.75);
  -webkit-text-stroke: 1px #660022;
  font-size: 18px;
  font-family: 'Calibri', 'IM Fell DW Pica SC', serif;
  font-weight: 300;
  position: relative;
}

#eventResults>a>h4,
#pairings>a>h4 {
  margin: 0;
  font-size: 16px;
  padding: 10px 10px;
  width: 720px;
  text-align: center;
  color: #ffffff;
  background-color: rgba(0, 0, 0, 0.0);
}

#eventResults>a>h4:hover,
#pairings>a>h4:hover {
  color: #4d9900;
}

a:hover {
  text-decoration: none;
}

.fullWidthH1 {
  width: 95%;
}

.gift-area>h2 {
  color: #4d9900;
  font-size: 20px;
  padding-top: 40px;
  text-align: center;
}

.gift-area>p {
  color: #d8d8d8
  width: 300px;
  padding-right: 10px;
  padding-left: 10px;
}

.gift-area {
width: 33%;
padding-left: 20px;
padding-right: 20px;
text-align: center;
display: inline-block;
position: relative;
float: left;
}

.gift-image {
padding-left: 10px;
}

.modal-content,
./*list-group-item,
.panel-default,
.panel-body,
.panel-heading*/ {
  background-color: #d8d8d8;
}

.list-group-item {
  margin: 0px 100px;
  background-color: none;
  border: none;
}

ul.list-group {
  margin: 0px 120px;
}

.panel-default {
  margin-top: 70px;
}

.panel-default>h1 {
margin-top: -50px;
}

footer.sticky {
  float: left;
  width: 100%;
}
 footer#foot-content {
  background-color: rgba(225, 225, 225, 0.75);
  font-family: 'Helvetica Neue', Helvetica, sans-serif;
  color: #434144;
  bottom:0;
  width: 100%;
  height:40px;
  text-align: center;
  padding-top: 5px;
}